*.py
*.sln
*.json
*.vcxproj*
x64/
.vs/

data
*.ipynb
.editorconfig
CMakeFiles
*.cmake
CMakeCache.txt
bin
build

googletest
libgmock*
libgtest*
_deps

.vscode

!test/data

Makefile

Testing

*.ninja*

!CMakeRC.cmake